AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION="auto"
AWS_ENDPOINT_URL="https://t3.storageapi.dev"
AWS_S3_BUCKET_NAME="api-tdeleg"
AWS_SECRET_ACCESS_KEY=

ISSUER="http://localhost:8787"
BACKING_OAUTH_STATE_TTL=300
AUTH_CODE_TTL=300
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
